.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.cards{
  width: 300px;
  height: 370px;
  margin: 10px;
}

.user-info-bottom{
  height: 40% !important;
}
