<mat-toolbar class="flex-row-between" color="primary" style="padding: 0">
  <div class="flex-row-left">
    <div class="flex-row-evenlyer">
      <div class="flex-column flex-center">
        <div class="Grouse-Avatar"></div>
      </div>
      <p>Grouse</p>
    </div>
  </div>
  <div class="flex-row-right">
    <div class="flex-row-between">
      <button mat-button>
        <div class="flex-row-between">
          <div class="flex-center">
            <i class="material-icons flex-center navbar-icon icon-large">account_box</i>
          </div>
          <div>
            <p>{{this.userData.userName}}</p>
          </div>
        </div>
      </button>
      <button mat-button (click)="logout()">
        <div class="flex-column">
          <i class="material-icons flex-center navbar-icon">exit_to_app</i>
          <p class="no-m">Logg ut</p>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="flex-row-left mal-container">
  <button mat-raised-button class="flex-column flex-center mal-card" (click)="newProject()">
    <i class="material-icons">add_circle_outline</i>
    <p>Nytt Prosjekt</p>
  </button>
  <button mat-raised-button class="mal-card" *ngFor="let project of projects">
    <div class="flex-column-squish">
      <h3>{{project.organisationName}}</h3>
      <p>{{project.projectName}}</p>
      <h6>Last Viewed: {{project.changedDate.split('-')[2].split('T')[0]}}.{{project.changedDate.split('-')[1]}}.{{project.changedDate.split('-')[0]}}</h6>
    </div>
  </button>
</div>
