<mat-toolbar class="flex-row-evenly" color="primary">
  <div class="flex-row-left">
    <div mat-card-avatar class="Grouse-Avatar"></div>
    <p>Grouse</p>
  </div>
  <div class="flex-row-right">
    <i class="material-icons flex-center">portrait</i>
    <p>{{this.userData.userName}}</p>
    <i class="material-icons flex-center">exit_to_app</i>
  </div>
</mat-toolbar>
<div class="flex-row-left mal-container">
  <mat-card class="flex-column flex-center mal-card">
    <i class="material-icons">add_circle_outline</i>
    <p>Ny mal</p>
  </mat-card>
  <mat-card class="flex-column flex-center mal-card">
    <p>Data</p>
  </mat-card>
</div>
