.Login-page{
  height: 100%;
  width: 100%;
}

.login-div{
  height: 450px;
  max-width: 500px;
  width: 90%;
}

.button-container{
  display: flex;
  justify-content: space-around;
}

.Login-Background{
  background-image: url("src/assets/Login_Backround.jpg");
  background-size: cover;
  position: absolute;
  opacity: 60%;
  width: 100%;
  height: 100%;
}

.divider{
  height: 300px;
  width: 5px;
  background-color: gray;
  opacity: 80%;
}

.login{
  width: 100%;
}

.register{
  width: 0%;
}
