.Grouse-Avatar{
  background-image: url('src/assets/Grouse.png');
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;}

.flex-column{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.flex-column-start{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.flex-column-squish{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20%;
  padding-top: 80px;
  padding-bottom: 60px;
}

.flex-row-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.flex-row-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.flex-row-evenlyer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mal-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 4%;
}

.mal-card{
  height: 150px;
  width: 300px;
  margin-right: 4%;

  margin-top: 20px;
}

.logo-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.no-m{
  margin: 0px;
}

.no-p{
  padding: 0px;
}

.p-10{
  padding: 10px;
}

.p-20{
  padding: 20px;
}

.m-lr-10{
  margin-left: 10px;
  margin-right: 10px;
}

.m-t-10{
  margin-top: 10px;
}

.icon-large{
  height: 50px;
  width: 50px;
  font-size: 40px;
}

.bold{
  font-weight: bold;
}

.fill{
  width: 100%;
}

body{
  overflow-y: hidden;
}

.w-100{
  width: 100%;
}

.h-80{
  height: 80%;
}

.color-lightgray{
  background-color: rgb(220, 220, 220);
}
