.Grouse-Avatar{
  background-image: url('src/assets/Grouse.png');
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 10px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;}

.flex-column{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.flex-column-squish{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20%;
  padding-top: 80px;
  padding-bottom: 60px;
}

.flex-row-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.flex-row-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.flex-row-evenly{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.flex-row-evenlyer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mal-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 2%;
}

.mal-card{
  height: 150px;
  width: 21%;
  max-width: 400px;
  margin-right: auto;

  margin-top: 20px;
}

.logo-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.no-m{
  margin: 0px;
}

.icon-large{
  height: 50px;
  width: 50px;
  font-size: 40px;
}
