<mat-toolbar class="flex-row-between" color="primary" style="padding: 0">
  <div class="flex-row-left">
    <div class="flex-row-evenlyer">
      <button class="no-p" mat-button (click)="goToMainMenu()">
        <div class="flex-row-left no-m">
          <div class="flex-row-evenlyer no-m">
            <div class="flex-column flex-center">
              <div class="Grouse-Avatar"></div>
            </div>
            <p>Grouse</p>
          </div>
        </div>
      </button>
      <button mat-button (click)="sideBarOpen = !sideBarOpen">Se krav</button>
    </div>
  </div>
  <div class="flex-row-right">
    <div class="flex-row-between">
      <button mat-button>
        <div class="flex-row-between">
          <div class="flex-center">
            <i class="material-icons flex-center navbar-icon icon-large">account_box</i>
          </div>
          <p>{{this.userData.userName}}</p>
        </div>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Profil</button>
        <button mat-menu-item>Instillinger</button>
        <button mat-menu-item>Logg ut</button>
      </mat-menu>
      <button mat-button (click)="logout()">
        <div class="flex-column">
          <i class="material-icons flex-center navbar-icon">exit_to_app</i>
          <p class="no-m">Logg ut</p>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidebar" hasBackdrop="true">
  <mat-sidenav mode="over" [opened]="sideBarOpen" class="sidenav">

    <!-- Tree Test DONT TOUCH IT FOR THE LOVE OF EVERYTHING HOLY-->

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <button mat-button class="fill no-p" (click)="changeReq(node.id)">
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            {{node.name}}
          </li>
          <mat-divider></mat-divider>
        </button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        <mat-divider></mat-divider>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content flex-row">
    <div class="edit-column">
      <mat-card class="Krav-card-edit">
        <!--Edit part (with the tabs and the text fields)-->
        <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event">
          <mat-tab *ngFor="let req of this.currentReq.referenceProjectRequirement; let i = index" label="{{i+1}}">
            <div class="flex-column">
              <mat-form-field class="Krav-form">
                <mat-label>Krav</mat-label>
                <textarea id="field-{{i}}" class="Krav-input" matInput value="{{req.requirementText}}" (change)="updateRequirementText(i)"></textarea>
              </mat-form-field>
              <div class="Krav-options flex-row-between p-10">
                <mat-button-toggle-group>
                  <mat-button-toggle [checked]="req.priority == 'O'" (click)="updateRequirementPriority(i, 'O')">O</mat-button-toggle>
                  <mat-button-toggle [checked]="req.priority == '1'" (click)="updateRequirementPriority(i, '1')">1</mat-button-toggle>
                  <mat-button-toggle [checked]="req.priority == '2'" (click)="updateRequirementPriority(i, '2')">2</mat-button-toggle>
                  <mat-button-toggle [checked]="req.priority == 'O (i)'" (click)="updateRequirementPriority(i, 'O (i)')">O(i)</mat-button-toggle>
                  <mat-button-toggle [checked]="req.priority == '1 (i)'" (click)="updateRequirementPriority(i, '1 (i)')">1(i)</mat-button-toggle>
                  <mat-button-toggle [checked]="req.priority == '2 (i)'" (click)="updateRequirementPriority(i, '2 (i)')">2(i)</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <div>
                  <button color="warn" mat-raised-button (click)="removeRequirment(i)" class="Krav-options-button"><i class="material-icons">delete_forever</i></button>
                </div>
              </div>
            </div>
          </mat-tab>
          <!--New Requirment-->
          <mat-tab label="Ny">
            <div class="flex-column">
              <mat-form-field class="Krav-form">
                <mat-label>Krav</mat-label>
                <textarea class="Krav-input" matInput placeholder="Nytt krav" id="NyttKrav"></textarea>
              </mat-form-field>
              <div class="Krav-options flex-row-between p-10">
                <mat-button-toggle-group id="NewReqPriorityButtons">
                  <mat-button-toggle (click)="newReqPriorityChange('O')" checked>O</mat-button-toggle>
                  <mat-button-toggle (click)="newReqPriorityChange('1')">1</mat-button-toggle>
                  <mat-button-toggle (click)="newReqPriorityChange('2')">2</mat-button-toggle>
                  <mat-button-toggle (click)="newReqPriorityChange('O (i)')">O(i)</mat-button-toggle>
                  <mat-button-toggle (click)="newReqPriorityChange('1 (i)')">1(i)</mat-button-toggle>
                  <mat-button-toggle (click)="newReqPriorityChange('2 (i)')">2(i)</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <button mat-raised-button (click)="addRequirment()">Legg til krav</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card class="Krav-card">
        <mat-card-header>
          <h2>{{currentReq.title}}</h2>
        </mat-card-header>
        <mat-card-content>
          <h4>Beskrivelse</h4>
          <div>{{currentReq.description}}</div>
          <h4>Forklaring</h4>
          <div>{{currentReq.explanation}}</div>
          <h4>Konsekvens</h4>
          <div>{{currentReq.consequence}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--The progress bar that shows the users progress-->
    <div class="status-bar flex-column p-10">
      <mat-card>
        <!--Header shows the current position-->
        <mat-card-header>
          <h3>Plassering - {{this.currentReq.functionalityNumber}}</h3>
        </mat-card-header>
        <!--Actions for movment, goes forwards and backwards also aproves the current requirment-->
        <mat-card-actions class="nav flex-row">
          <button mat-raised-button color="primary">
            <i class="material-icons">arrow_left</i>
          </button>
          <button mat-raised-button [ngClass]="{'mat-primary' : !currentReq.processed, 'mat-accent' : currentReq.processed}" (click)="updateFunctionalityProcessed()">
            <i class="material-icons">done_outline</i>
          </button>
          <button mat-raised-button class="no-m" color="primary" (click)="nextReq()">
            <i class="material-icons">arrow_right</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
