.test-card{
  margin: 10px;
}

.main{
  padding-top: 200px;
}

.back-button{
  height: 100px;
  width: auto;
}

.back-button-container{
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  flex-direction: row-reverse;
}

.sidebar{
  display: flex;
  height: 90%;
  width: 400px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
