.test-card{
  margin: 10px;
}

.main{
  padding-top: 200px;
}

.back-button{
  height: 100px;
  width: auto;
}

.back-button-container{
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  flex-direction: row-reverse;
}

.sidebar{
  display: flex;
  height: 90%;
  width: 100%;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.sidenav{
  width: 350px;
}
.sidenav-content{
  width: 100%;
}

.Krav-card{
  margin-top: 5px;
  height: 38%;
  overflow: scroll;
  overflow-x: hidden;
}

.Krav-card-edit{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 55%;
  padding-bottom: 0px;
  padding-top: 0px;
}

.Krav-form{
  height: 100%;
  width: 100%;
}

.Krav-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.Krav-input{
  min-height: 175px;
  height: 100%;
  width: 100%;
}

.Krav-status{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 55px;
}

.Krav-options-button{
  height: 80%;
}

.edit-column{
  width: 80%;
  max-width: 800px;
  margin-left: 10%;
}

.status-bar{
  height: 100%;
  width: 240px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 40px !important;
}

::ng-deep.mat-tab-labels{
  max-width: 100px;
  margin: 0px;
}

.status-bar-button-container{
  height: 500px !important;
  width: 10px;
}

.color-success{
  background-color: green;
  color: white;
}

.big-button{
  height: 60px;
  width: 120px;
}

.status-page{
  width: 80%;
  margin-right: 10%;
}

.unfinished-box{
  background-color: rgb(245, 245, 245);
  width: 90%;
  height: 175px;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 10px;
}

.unfinished-button{
  height: 50px;
  width: 80px;
  margin: 2px;
  padding: 0px;
}

::ng-deep.mat-card-header-text{
  margin: 0 !important;
}

.share-menu-list-box{
  height: 250px;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.you-marker{
  height: 30px;
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgrey;
}

.w-120px{
  width: 120px;
}

.concurrency-choice-container{
  width: 400px;
  height: 200px;
  margin: 15px;
  padding: 10px;
  box-shadow: 1px 1px 2px dimgray;
  border-radius: 4px;
}

.concurrency-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.concurrency-textfield {
  width: 100%;
  height: 140px;
}

.concurrency-main {
  height: 600px;
}
