<mat-toolbar class="flex-row-between" color="primary" style="padding: 0">
  <div class="flex-row-left">
    <div class="flex-row-evenlyer">
      <div class="flex-column flex-center">
        <div class="Grouse-Avatar"></div>
      </div>
      <p>Grouse</p>
      <button mat-button (click)="sideBarOpen = !sideBarOpen">Se krav</button>
    </div>
  </div>
  <div class="flex-row-right">
    <div class="flex-row-between">
      <button mat-button>
        <div class="flex-row-between">
          <div class="flex-center">
            <i class="material-icons flex-center navbar-icon icon-large">account_box</i>
          </div>
          <p>{{this.userData.userName}}</p>
        </div>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Profil</button>
        <button mat-menu-item>Instillinger</button>
        <button mat-menu-item>Logg ut</button>
      </mat-menu>
      <button mat-button (click)="logout()">
        <div class="flex-column">
          <i class="material-icons flex-center navbar-icon">exit_to_app</i>
          <p class="no-m">Logg ut</p>
        </div>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidebar" hasBackdrop="false">
  <mat-sidenav class="sidenav" mode="over" [(opened)]="sideBarOpen">
    <p>Jau</p>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-card class="Krav-card">
      <mat-card-header>
        <h2>{{currentReq.title}}</h2>
      </mat-card-header>
      <mat-card-content>
        <h4>Beskrivelse</h4>
        <div>{{currentReq.description}}</div>
        <h4>Forklaring</h4>
        <div>{{currentReq.explanation}}</div>
        <h4>Konsekvens</h4>
        <div>{{currentReq.consequence}}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="Krav-card-edit">

    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-card-footer class="Krav-status">
  <mat-card>
    <a mat-button >jau</a>
    <a mat-button >jau</a>
    <a mat-button >jau</a>
 </mat-card>
</mat-card-footer>
